img {
  max-height: 160px;
}

.button-box {
  width: 100%;
  -ms-display: flexbox;
  display: flex;
}

span {
  -ms-flex: 1;
  flex: 1;
  height: 100%;
}

.row {
  margin-bottom: 20px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}