<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="navbar-logo" src="https://i.pinimg.com/originals/e5/79/a1/e579a13583e5d02f96f82f792b583594.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
      <a class="nav-link active" [routerLink]="['']">Products </a>
      <a class="nav-link active" [routerLink]="['cart']">Cart ({{amountOfProductsInCart}})</a>
    </div>
  </div>
  <div class="navbar-nav">
    <div *ngIf="!userIsAuthenticated">
      <a class="nav-link active" [routerLink]="['login']">Login </a>
    </div>
    <div *ngIf="!userIsAuthenticated">
      <a class="nav-link active" [routerLink]="['signup']">Signup </a>
    </div>
    <div *ngIf="userIsAuthenticated">
      <button class="btn btn-primary" [routerLink]="['manage']">Admin Panel</button>
    </div>
    <div *ngIf="userIsAuthenticated">
      <button class="btn btn-danger">Logout</button>
    </div>
  </div>
</nav>