<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img 
      src="https://i.pinimg.com/originals/e5/79/a1/e579a13583e5d02f96f82f792b583594.png" 
      width="100" 
      height="100"
      class="d-inline-block align-top" 
      alt="" 
      loading="lazy"
    >
  </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>