// .bg-light {
//   background-color: #b40019 !important;
// }
nav {
  background-color: black !important;
  padding: 10px;
}

.navbar-light .navbar-brand {
  color: white !important;
}

.shipping-info {
  color: black;
  background-color: white;
  margin-bottom: 20px;
}

.shipping-info p {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 90%;
  letter-spacing: 110%;
}

