// .bg-light {
//   background-color: #b40019 !important;
// }
nav {
  margin-bottom: 30px;
  background-color: black !important;
  padding: 10px;
}

.navbar-light .navbar-brand {
  color: white !important;
}

