<div class="row">
  <div class="col-xl">
    <form (submit)="onSaveProduct(productForm)" #productForm="ngForm">
      <div class="row">
        <div class="col-xl">
          <div class="form-group">
            <label for="vinylFigureId">Vinylfiguur Nummer</label>
            <input
              type="text"
              name="vinylFigureId"
              [ngModel]="product?.vinylFigureId"
              required
              placeholder="Product vinyFigureId"
              #vinylFigureId="ngModel"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          <div class="form-group">
            <label for="name">Naam</label>
            <input
              type="text"
              name="name"
              [ngModel]="product?.name"
              required
              placeholder="Product name"
              #name="ngModel"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          <div class="form-group">
            <label for="price">Prijs</label>
            <input
              type="text"
              name="price"
              [ngModel]="product?.price"
              required
              placeholder="Product price"
              #price="ngModel"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          <div class="form-group">
            <label for="description">Beschrijving</label>
            <input
              type="text"
              name="description"
              [ngModel]="product?.description"
              required
              placeholder="Product description"
              #description="ngModel"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              name="imagePath"
              [ngModel]="product?.imagePath"
              required
              placeholder="Product imagePath"
              #imagePath="ngModel"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          <button 
            type="submit" 
            class="btn btn-success"
            [disabled]="!productForm.valid">Save</button>
          <button 
            type="button" 
            class="btn btn-danger"
            (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
