.row.cart-item-row.align-items-center {
  background-color: white;
  margin-left: 10px;
}

.cart-item-row {
  padding: 10px;
  min-height: 50px;
  margin-top: 10px;
}

h5 {
  font-size: 20px;
}

a.btn.btn-primary {
  margin-right: 5px;
}

.button-box {
  margin: auto;
  width: 100%;
  padding: 10px;
}

button {
  width: 100%;
}

@media (max-width: 800px) {
  .row.cart-item-row.align-items-center {
    margin-left: 0;
  }
  .row {
    margin-left: 0;
  }
}