button {
  width: 100%;
  margin-top: 35px;
}

.col-md-9 {
  padding-right: 0px;
  padding-left: 0px;
  
}

.col-md-3 {
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
  float: right;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 10px;
}

.row {
  border-bottom: 1px solid gray;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}