<div class="container">
  <div class="row">
    <span class="col-md-9">
      Subtotaal bestelling
    </span>
    <span class="col-md-3">
      € 12,99
    </span>
  </div>
  <div class="row">
    <span class="col-md-9">
      Bezorging
    </span>
    <span class="col-md-3">
      € 3,95
    </span>
  </div>
  <div class="row">
    <span class="col-md-9">
      Totaal
    </span>
    <span class="col-md-3">
      € 21,94
    </span>
  </div>
  <button 
    (click)="onOrder()"
    style="cursor: pointer;"
    type="button" 
    class="btn btn-success"
    >Bestellen
  </button>
</div>
