.col-xl {
  background-color: white;
}

h1 {
  margin-top: 20px;
  letter-spacing: 0.70px;
}

svg {
  height: 75px !important;
}

span {
  font-size: 150%;
  text-align: center;
  vertical-align: middle;
}

.align-middle {
  font-weight: 600;
}

.product-count {
  color: gray;
  font-weight: 450;
}
