.cart-item-row {
  border-top: solid 1px black;
  padding: 10px;
  min-height: 50px;
  margin-top: 10px;
}

img {
  max-height: 160px;
}

h3 {
  vertical-align: top;
  text-align: left ;
}

.row.cart-item-row.align-items-center {
  background-color: white;
}

.increment-product {
  color: green;
}

.decrement-product {
  color: red;
}