form {
  background-color: white;
  padding: 20px;
  box-shadow: 5px 5px 5px 5px #888888;
}

.info-row {
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  box-shadow: 5px 5px 5px 5px #888888;
}

p {
  font-size: 110%;
  color: #888888;
}

