.cart-item-row {
  padding: 10px;
  min-height: 50px;
  margin-top: 10px;
}

img {
  max-height: 160px;
}

h3 {
  vertical-align: top;
  text-align: left ;
}

.row.cart-item-row.align-items-center {
  background-color: white;
}

svg {
  transition: transform .2s;
}

svg:hover {
  transform: scale(1.3);
}

.increment-product {
  color: green;
}

.increment-product:hover {
  color: green;
}

.decrement-product {
  color: red;
}

.product-count {
  margin-left: 10px;
  margin-right: 10px;
}